services:
  product-db:
    platform: linux/amd64
    image: postgres:15
    container_name: product-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: product_db
    ports:
      - "5433:5432"
    volumes:
      - product_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d product_db"]
      interval: 5s
      timeout: 5s
      retries: 20

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product-service
    depends_on:
      product-db:
        condition: service_healthy
    environment:
      DB_HOST: product-db
      DB_PORT: 5432
      DB_NAME: product_db
      DB_USER: postgres
      DB_PASSWORD: postgres
    ports:
      - "3001:3001"

volumes:
  product_db_data:
